{%extends 'all-awards/base.html'%}

{% block content %}
{{block.super}}

<div class="container-fluid">
    <div class="column">
      <div class="col-md-6">
        {% for proj in project %}
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="{{proj.image.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{proj.project_name}}</h5>
              <p class="card-text">{{proj.description}}</p>
              
              <button>
                <a href="{{proj.url}}">project url</a>
              </button>
  
            </div>
            <div class="card-footer">
              <small class="text-muted">{{proj.pub_date}}</small>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </div>

{% endblock %}